{% extends "base/base.html" %}
{% load static %}
{% block contenedor %}
    <article>
        <section class="section-name p-2 pl-4 d-flex flex-row align-items-center">
            <h4>Catalogo</h4>
            <div class="d-none d-lg-block ml-auto">
                <div class="btn btn-danger ml-2">
                    <i class="fas fa-tv ml-auto"> TV = 100</i>
                </div>
                <div class="btn btn-dark ml-2">
                    <i class="fas fa-laptop"> PC = 80 </i>
                </div>
                <div class="btn btn-info ml-2">
                    <i class="fas fa-battery-empty"> Pilas = 5</i>
                </div>
                <div class="btn btn-light ml-2">
                    <i class="fas fa-blender"> Electrodomesticos = 40 </i>
                </div>
                <div class="btn btn-warning ml-2">
                    <i class="fas fa-mobile-alt"> Celulares = 50</i>
                </div>
                <div class="btn btn-success ml-2">
                    <i class="fas fa-print"> Impresoras = 40</i>
                </div>
            </div>
        </section>
        {% if premios %}
            <section class="d-flex flex-column flex-md-row partners-background">

                <div class="row p-4 flex-wrap w-100">
                    {% for premio in premios %}
                        <div class="col-md-3">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top"
                                     src="{% static "webpage/images/catalogo/"%}{{ premio.image }}"
                                     alt="Card image cap" height="230px">
                                <div class="card-body">
                                    <h3>{{ premio.title }}</h3>
                                    {% if premio.stock <= 0 %}
                                        <span style="color: red;">Agotado</span>
                                    {% elif premio.stock <= 30 and premio.stock > 0 %}
                                        <span style="color: goldenrod;">Pocas Existencias</span>
                                    {% elif premio.stock > 30 %}
                                        <span style="color: Green;">Existencias</span>
                                    {% endif %}
                                    <p class="card-text">{{ premio.description }}</p>
                                    <p class="text-center"><i>{{ premio.reward_points }} Puntos</i></p>
                                    {% if user.rol == '1' %}
                                        <form class="d-flex justify-content-center align-items-center"
                                              action="{% url 'webpage:catalogo' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="premio_id" value="{{ premio.id }}">
                                            <button type="submit" class="premio-placeholder btn btn-success w-75">
                                                Canjear Producto </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% else %}
            <section class="d-flex justify-content-center align-content-center mt-5">
                <h2>No hay premios Disponibles</h2>
            </section>
        {% endif %}

    </article>
{% endblock %}