{% extends "base/base.html" %}
{% load static %}
{% block contenedor %}
    <article>
        <section class="section-name p-2 pl-4">
            <h4>Mis Citas</h4>
        </section>
        <section class="d-flex flex-column partners-background">
            <div class="d-flex flex-row container mt-3 mb-3 align-items-center w-100">
                <i class="far fa-user fa-3x"></i>
                <h2 class="ml-2 mt-1">{{ user.first_name }} {{ user.last_name }} "{{ user }}"</h2>

            </div>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Lugar</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Residuo</th>
                        <th scope="col">Numero</th>
                        <th scope="col">fecha</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for citas in cita %}
                        <tr>
                            <th scope="row">{{ citas.lugar }}</th>
                            <td>{{ citas.user.user.first_name }}</td>
                            <td>{{ citas.residuo }}</td>
                            <td>{{ citas.num_residuos }}</td>
                            <td>{{ citas.fecha_cita }}</td>
                            {% if citas.fecha_aprobacion is not none %}
                                <td>{{ citas.fecha_aprobacion }}</td>
                            {% else %}
                                {% if citas.Estatus == 0 %}
                                <td>
                                En Espera<br>
                                <a href="../cancelarcita/{{ citas.id }}"><button class="btn btn-danger">Cancelar</button></a>
                                </td>
                                {% elif citas.Estatus == 1 %}
                                    <td> Cancelado</td>
                                {% elif citas.Estatus == 2 %}
                                        <td>Cancelado por <br>el administrador</td>
                                {% else %}
                                    <td>Erorr en validacion</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </article>
{% endblock %}