{% extends "base/base.html" %}
{% load static %}
{% block contenedor %}
    <article>
        <section class="section-name p-2 pl-4">
            <h4>Mis Citas</h4>
        </section>
        <section class="d-flex flex-column partners-background">
            <div class="d-flex flex-row container mt-3 mb-3 align-items-center w-100">
                <i class="far fa-user fa-3x"></i>
                <h2 class="ml-2 mt-1">{{ user }}</h2>

            </div>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Lugar</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Residuo</th>
                        <th scope="col">Numero</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Estadio</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </article>
{% endblock %}