{% extends "base/base.html" %}
{% load static %}
{% block contenedor %}
    <article>
        <section class="section-name p-2 pl-4">
            <h4>Nosotros</h4>
        </section>
        {% if success %}
            <section>
                <div class="alert alert-success" role="alert">
                   {{ success }}
                </div>
            </section>
        {% endif %}
        <section class="d-flex flex-column p-4 container">
            <div class="d-flex flex-column flex-md-row row">
                <div class="p-4 col-md-6">
                    <h2>¿Qué hace reciclame?</h2>
                    <p>Esta es una plataforma gratuita que te permite ubicar centros de acopio en tu localidad para que puedas entregar 
                    todos aquellos residuos y aparatos electrónicos que ya no utilices o se encuentren inservibles, para su reciclaje 
                    correcto y evitar causar daños al medio ambiente.</p>
                    <p>Se recompensa al usuario con puntos por la entrega de sus residuos, mismos que se pueden canjear en nuestro catálogo 
                    de productos, se incentiva a realizar el proceso de reciclaje, se relaciona a ciudadanos con centros de reciclaje y se
                     aumenta el volumen de residuos entregados en centros capacitados, para evitar la afectación al medio ambiente.</p>
                </div>
                <div class="d-flex justify-content-center align-center col-md-6 embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0YjLf8T0lUs"
                            allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </section>
        <section class="d-flex flex-column flex-md-row centros-background row">
            <div class="d-flex flex-column centros-title col-sm-12 col-lg-4 justify-content-center align-items-center">
                <h3>Más de <span>20</span> Centros de Acopio en tu Zona Metropolitana</h3>
            </div>
            <!-- Circulos mobile -->
            <div class="mb-4 mt-4 d-flex flex-column d-sm-none justify-content-center align-items-center">
                <div class="d-flex flex-row">
                    <img class="m-3" src="{% static "webpage/images/Circulo 1 - 100px.png" %}">
                    <img class="m-3" src="{% static "webpage/images/Circulo 2 - 100px.png" %}">
                </div>
                <div class="d-flex flex-row">
                    <img class="m-3" src="{% static "webpage/images/Circulo 1 - 100px.png" %}">
                    <img class="m-3" src="{% static "webpage/images/Circulo 2 - 100px.png" %}">
                </div>
            </div>
            <!-- Circulos tablets y desktop -->
            <div class="mb-4 mt-4 d-none d-sm-flex flex-sm-row col-xs-12 col-sm-12 col-lg-8 justify-content-around">
                <img src="{% static "webpage/images/Circulo 1 - 100px.png" %}">
                <img src="{% static "webpage/images/Circulo 2 - 100px.png" %}">
                <img src="{% static "webpage/images/Circulo 3 - 100px.png" %}">
                <img src="{% static "webpage/images/Circulo 4 - 100px.png" %}">
            </div>
        </section>
        <section class="about-us-map d-flex flex-column">
            <div id="mapid"></div>
             <!-- leaflet + mapbox -->
        <script>
            var mymap = L.map('mapid').setView([20.7407607,-103.3830465], 12);
            L.tileLayer('https://api.tiles.mapbox.com/v4/mapbox.streets/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoiam1hbnVlbC1jaGFpcmV6IiwiYSI6ImNqa3dwbmxrZjAwZHczcXA0Nndud3k2NncifQ.9Wg2JDWZnmr1J57aPT1_rQ', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1Ijoiam1hbnVlbC1jaGFpcmV6IiwiYSI6ImNqa3dwbmxrZjAwZHczcXA0Nndud3k2NncifQ.9Wg2JDWZnmr1J57aPT1_rQ'
            }).addTo(mymap);
            var Cucea = L.marker([20.7407607,-103.38304659]).addTo(mymap);
            Cucea.bindPopup("<b>Centro Universitario de Ciencias Economico Administrativas</b>" +
                "<br>9:00am - 5:00pm" +
                "<br>Lunes a Viernes" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            Cucea.on('click', onMapClick);

            var Ecole = L.marker([20.6443414,-103.438884]).addTo(mymap);
            Ecole.bindPopup("<b>ECOLE</b>" +
                "<br>8:30am - 4:30pm" +
                "<br>Lunes a Sabado" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            Ecole.on('click', onMapClick);

            var EcoleGranja = L.marker([20.6844813,-103.4502551]).addTo(mymap);
            EcoleGranja.bindPopup("<b>Ecole Cd.Granja</b>" +
                "<br>8:30am - 4:30pm" +
                "<br>Lunes a Sabado" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            EcoleGranja.on('click', onMapClick);

            var ReZapopan = L.marker([20.7326378,-103.4002075]).addTo(mymap);
            ReZapopan.bindPopup("<b>Recicladora Zapopan</b>" +
                "<br>9:00am - 7:00pm" +
                "<br>Lunes a Viernes" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><li>Celulares</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            ReZapopan.on('click', onMapClick);

            var UAG = L.marker([20.6947053,-103.4203198]).addTo(mymap);
            UAG.bindPopup("<b>Universidad Autonoma de Guadalajara</b>" +
                "<br>9:00am - 5:00pm" +
                "<br>Lunes a Viernes" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><li>Celulares</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            UAG.on('click', onMapClick);

            var Recumatrec = L.marker([20.6346299,-103.473049]).addTo(mymap);
            Recumatrec.bindPopup("<b>Recumatrec</b>" +
                "<br>8:30am - 4:30pm" +
                "<br>Lunes a Sabado" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><li>Celulares</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            Recumatrec.on('click', onMapClick);

            var HaciendaJavier = L.marker([20.7021357,-103.4089061]).addTo(mymap);
            HaciendaJavier.bindPopup("<b>Club Hacienda San Javier</b>" +
                "<br>9:00am - 7:00pm" +
                "<br>Lunes a Sabado" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><li>Celulares</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            HaciendaJavier.on('click', onMapClick);

            var Metropolitano = L.marker([20.6710204,-103.4386838]).addTo(mymap);
            Metropolitano.bindPopup("<b>Parque Metropolitano</b>" +
                "<br>8:00am - 2:00pm" +
                "<br>Lunes a Domingo" +
                "<br><ul><li>Pilas</li><li>Celulares</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            Metropolitano.on('click', onMapClick);

            var Colomos = L.marker([20.7087217,-103.3957871]).addTo(mymap);
            Colomos.bindPopup("<b>Bosque Colomos</b>" +
                "<br>8:00am - 2:00pm" +
                "<br>Lunes a Domingo" +
                "<br><ul><li>Pilas</li><li>Celulares</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            Colomos.on('click', onMapClick);

            var CAnahuac = L.marker([20.6679085,-103.4126439]).addTo(mymap);
            CAnahuac.bindPopup("<b>Colegio Anahuac Chapalita</b>" +
                "<br>8:00am - 3:00pm" +
                "<br>Lunes a Viernes" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><li>Celulares</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            CAnahuac.on('click', onMapClick);
            var Econatura = L.marker([20.6615148,-103.4081714]).addTo(mymap);
            Econatura.bindPopup("<b>Econatura</b>" +
                "<br>9:00am - 7:00pm" +
                "<br>Lunes a Viernes" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><li>Celulares</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            Econatura.on('click', onMapClick);
            var Aroco = L.marker([20.6704546,-103.4154259]).addTo(mymap);
            Aroco.bindPopup("<b>Econatura</b>" +
                "<br>9:00am - 6:00pm" +
                "<br>Lunes a Viernes" +
                "<br><ul><li>Electrodomesticos</li><li>Pilas</li><li>Computo</li><li>Televisión</li><li>Celulares</li><ul>"); //Abrir pop up automaticamente al cargar { .openPopup() }
            Aroco.on('click', onMapClick);
            //Funcion necesaria para elemento onclick
            function onMapClick(e) {

            }

        </script>
        </section>

        <section class="about-us-contact d-flex flex-column justify-content-center align-content-center
">
            <h4 class="text-center mt-3">¿Tienes dudas? Escríbenos:</h4>
            <form class="m-3" method="post" action="">
            {% csrf_token %}
                <div class="d-flex flex-column flex-md-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="contact-name" placeholder="Nombre" name="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                               placeholder="correo@example.com" name="correo">
                    </div>
                </div>
                <div class="form-group col-12">
                    <textarea class="form-control" id="contact-textarea" rows="10" placeholder="Descripción" name="descripcion"></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="about-us-sendbtn" href="#">
                        <button class="btn btn-success p-3">Enviar</button>
                    </a>
                </div>
            </form>
        </section>
    </article>

{% endblock %}