{% extends "base/base.html" %}
{% load static %}
{% block contenedor %}
    <article>
        <section class="section-name p-2">
            <h4>Nuestros Partners</h4>
        </section>
        <section class="d-flex flex-column p-1 m-2">
            <div class="d-flex flex-column flex-lg-row col-lg-12">
                <div class="p-4 col-lg-6">
                    <h2>Reciclame</h2>
                    <p>Es una plataforma que te permite ubicar centros de acopio cercanos y entregar tus residuos electronicos para su correcto reciclaje</p>
                    <p>Ademas de ayudar a concervar el medio ambiente, recibiras puntos para canjearlos por descuentos con nuestros partners</p>
                </div>
                <div class="d-flex justify-content-center align-center col-lg-6 container">
                   <img class="img-fluid w-100" src="http://placehold.it/300x200">
                </div>
            </div>
        </section>
        <section class="d-flex flex-column flex-md-row partners-background">

            <div class="mb-4 d-flex flex-column flex-md-row">
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column text-center m-3">
                        <img src="http://placehold.it/150x150">
                        <h4 class="m-2">Partner 1</h4>
                        <p>Por medio de esta compañia podras obtener varios beneficios al reciclar residuos electronicos.</p>
                    </div>
                    <div class="d-flex flex-column text-center m-3">
                        <img src="http://placehold.it/150x150">
                        <h4 class="m-2">Partner 1</h4>
                        <p>Por medio de esta compañia podras obtener varios beneficios al reciclar residuos electronicos.</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column text-center m-3">
                        <img src="http://placehold.it/150x150">
                        <h4 class="m-2">Partner 1</h4>
                        <p>Por medio de esta compañia podras obtener varios beneficios al reciclar residuos electronicos.</p>
                    </div>
                    <div class="d-flex flex-column text-center m-3">
                        <img src="http://placehold.it/150x150">
                        <h4 class="m-2">Partner 1</h4>
                        <p>Por medio de esta compañia podras obtener varios beneficios al reciclar residuos electronicos.</p>
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}