{% extends "base/base.html" %}
{% load static %}
{% block contenedor %}
    <article>
        <section class="section-name p-2">
            <h4>Nuestros Partners</h4>
        </section>
        <section class="d-flex flex-column p-1 m-2" style="min-height: 400px;max-height: 650px">
            <div class="d-flex flex-column flex-lg-row col-lg-12 justify-content-center align-items-center">
                <div class="p-4 col-lg-6">
                    <h2>Reciclame</h2>
                    <p>Es una plataforma que te permite ubicar centros de acopio cercanos y entregar tus residuos electronicos para su correcto reciclaje</p>
                    <p>Ademas de ayudar a concervar el medio ambiente, recibiras puntos para canjearlos por descuentos con nuestros partners</p>
                </div>
                <div class="d-flex justify-content-center align-center col-lg-6 container">
                   <img class="img-fluid" src="{% static "webpage/images/partners.jpg" %}" style="max-height: 300px">
                </div>
            </div>
        </section>
        <section class="d-flex flex-column flex-md-row partners-background">
            <div class="mb-4 d-flex flex-column flex-md-row">
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column text-center m-3">
                        <img class="img-fluid partner-img" src="{% static "webpage/images/dpartner1.png" %}" >
                        <h4 class="m-2">Partner 1</h4>
                        <p>Por medio de esta compañia podras obtener varios beneficios al reciclar residuos electronicos.</p>
                    </div>
                    <div class="d-flex flex-column text-center m-3">
                        <img class="img-fluid partner-img" src="{% static "webpage/images/dpartner2.png" %}" >
                        <h4 class="m-2">Partner 2</h4>
                        <p>Por medio de esta compañia podras obtener varios beneficios al reciclar residuos electronicos.</p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column text-center m-3">
                        <img class="img-fluid partner-img" src="{% static "webpage/images/dpartner3.png" %}">
                        <h4 class="m-2">Partner 3</h4>
                        <p>Por medio de esta compañia podras obtener varios beneficios al reciclar residuos electronicos.</p>
                    </div>
                    <div class="d-flex flex-column text-center m-3">
                        <img class="img-fluid partner-img" src="{% static "webpage/images/dpartner4 copy.png" %}">
                        <h4 class="m-2">Partner 4</h4>
                        <p>Por medio de esta compañia podras obtener varios beneficios al reciclar residuos electronicos.</p>
                    </div>
                </div>
            </div>
        </section>
    </article>
{% endblock %}